*, ::before, ::after {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --font-base: 'Raleway', sans-serif;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #464646;
    --azul-claro: #EAF2FD;
    --azul: #2A7AE4;
}

html {
    scroll-behavior: smooth;
}

button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}